*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
    
}
.header{
    min-height:100vh;
    width:100%;
    background-image:url(Images/banner.png);
    background-position: center;
    background-size: cover;
    
 }

nav{
    
    display: flex;
    padding: 2% 10%;
    align-items:baseline;
    color: white;
    position:absolute;
    top:0px;
    width:100%;
 }
 
.nav-links{
    flex:1;
    text-align: center; 
    margin-top: 5px; 
    position: absolute;
    background-color: transparent;
    margin-left: -300px;
    align-items: baseline;
    width:100%;
 
    }
.nav-links a{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
 }
.subnav{
    flex:1;
    text-align: inherit;
    display: inline-flex;
    margin-top: 0px; 
    background-color: transparent
    overflow: hidden;
    border: none;
}
.subnav .subnavbtn
{
  font-size: 15px;  
  border: none;
  outline: none;
  color: white;
  padding: 8px 12px;
  background-color: inherit;
  font-family: inherit;
}
.nav-links a:hover, .subnav:hover .subnavbtn {
  color: red;
}
.subnav-content {
  display: none;
  position: fixed;
  top:80px;
  background-color: transparent;
  width: 100%;
  z-index: 1; 
}

.subnav-content a {
  
  display: flex;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: transparent;
  color: red;
}
    .subnav:hover .subnav-content {
  display: inline;
        
}
.search{
    text-align: inherit;
    display: inline-flex;
    margin-top: 0px; 
    background-color: transparent
    overflow: hidden;
    border: none;
    align-items: baseline;
}
 .searicon i{
   
    position: absolute;
    left: 1100px;
    top: 40px;
    color: white;
   } 
.moonicon i{
    position: absolute;
    left: 1180px;
    top: 40px;
    color: white;
}
/*nav img{
    width:30px;
}*/
.text-box{
    width:100%;
    color:#fff;
    position: :absolute; 
    top:50%;
    left: 50%;
    text-align: center;
}
.text-box h1{
    font-size: 95px;
}
 .btn{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border:2px solid #fff;
    border-radius:10px; 
    padding:12px 34px;
    font-size:20px;
    background:transparent; 
    position:relative;
    cursor: pointer;
}
.btn:hover{
    border:1px solid #fff;
    background: #fff;
    transition: 1s;
}

.history{
    display: inline-block;
    position: absolute;
    padding: 60px 30px;
    margin:85px;
    min-width: 85%;
    border-radius: 7px;
    justify-content: space-between;
    background-size: contain;
    margin-top:-100px;
    background-color: white;
    box-sizing: inherit;
    
   }
.aboutpage{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.title{
    display: inline-block;
    position: relative;
    
 }
.title h4{
    font-family: sans-serif;
    font-size: 20px;
}
.details{
    position: absolute;
    display:inline-block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right:auto;
    margin-left: auto;
}
.details h1{
    font-family: sans-serif;
    font-size: 25px;
    }
.details p{
    position: relative;
    display: inline;
    font-family: sans-serif;
    font-size:15px;
    color: black;
    text-justify:auto;
    line-height: 28px;
    
}
.links{
    position: relative;
    display: inline-block;
    margin-left: 800px;
    margin-top: -300px;
    line-height: 48px;
    }
.links:hover{
    color: orangered;
}
.links1{
    position: relative;
    display: inline-block;
    margin-left: 800px;
    margin-top:  -300px;
    line-height: 48px;
    }
.links1:hover{
    color: orangered;
}
.links2{
    position: relative;
    display: inline-block;
    margin-left: 800px;
    margin-top: -300px;
    line-height: 48px; 
    
   
}
.links2:hover{
    color: orangered;
}

.position1{
    display: inline-block;
    position: absolute;
    margin-top: 140px;
    padding: 60px 30px;
    min-width: 100%;
    min-height: 80%;
    background-color: aliceblue;
      
 } 
 .image1 img{
    margin-top: 15px; 
    margin-right:75px; 
    margin-left: 65px;
    margin-bottom:25px  
    border-radius: 13px;
    width:50%; 
}
.story{
    display: block;
    position: absolute;
    margin-left: 800px;
    margin-top: -495px;
    line-height: 28px;
    height: 40px 
 }

.story h3{
    display:inline-block;
    position:relative;
    font-size: 20px;
 }
.story h1{
    display:inline-block;
    position:relative;
    font-size: 45px;
    line-height: 48px;
}
.text-box1{
    width:100%;
    color:#fff;
    position: :absolute; 
    margin-left: 250px;
    margin-top: -220px;
    top:50%;
    left:50%;
    text-align: center;
}
  .btn1{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border:2px solid orangered;
    border-radius:10px; 
    padding:12px 34px;
    font-size:20px;
    position:relative;
    cursor: pointer;
    background-color: orangered;
}
.btn1:hover{
    border:1px solid orangered;
    background: #fff;
    text-decoration: none;
    color: orangered;
    transition: 1s;
}
.info{
    display: inline-block;
    position: absolute;
    margin-top: 800px;
    padding: 40px 100px;
    min-width: 100%;
    min-height: 80%;
  }
.info1{
    display:inline-block;
    position:relative;
    margin-top:20px;
    padding: 2px 5px;
  }
.info1 h3{
    display:inline-block;
    position:relative;
    font-size: 30px;
 }
.info1 h1{
    display:inline-block;
    position:relative;
    font-size: 40px;
 }
.info1 p{
    display:inline-block;
    position:relative;
    font-size: 20px;
    line-height: 28px;
    text-align: justify-all;
 }
.text-box2{
    width:100%;
    color:#fff;
    position: :absolute; 
    margin-left:-580px;
    margin-top:-20px;  
    text-align: center;
}
 .btn2{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border:2px solid orangered;
    border-radius:10px; 
    padding:12px 34px;
    font-size:20px;
    position:relative;
    cursor: pointer;
    background-color: orangered;
}
.btn2:hover{
    border:2px solid orangered;
    background: #fff;
    text-decoration: none;
    color: orangered;
    transition: 1s;
}
.percent{
    display: block;
    position: absolute;
    margin-left: 650px;
    margin-top: -390px;
 }
.percent h2{
    position:relative;
    border-bottom-style: solid; 
    border-bottom-color: darkorange;
    border-bottom-left-radius: 5px;
    border-width: medium;
}
.percent1{
    display: block;
    position: absolute;
    margin-left: 650px;
    margin-top: -320px;
 }
.percent1 h2{
    position:relative;
    border-bottom-style: solid; 
    border-bottom-color: darkorange;
    border-bottom-left-radius: 5px;
    border-width: medium;
}
.percent2{
    display: block;
    position: absolute;
    margin-left: 650px;
    margin-top: -250px;
 }
.percent2 h2{
    position:relative;
    border-bottom-style: solid; 
    border-bottom-color: darkorange;
    border-bottom-left-radius: 5px;
    border-width: medium;
}
.percent3{
    display: block;
    position: absolute;
    margin-left: 650px;
    margin-top: -180px;
 }
.percent3 h2{
    position:relative;
    border-bottom-style: solid; 
    border-bottom-color: darkorange;
    border-bottom-left-radius: 5px;
    border-width: medium;
}
.percent4{
    display: block;
    position: absolute;
    margin-left: 650px;
    margin-top: -110px;
 }
.percent4 h2{
    position:relative;
    border-bottom-style: solid; 
    border-bottom-color: darkorange;
    border-bottom-left-radius: 5px;
    border-width: medium;
}
.services{
    display: inline-block;
    position: absolute;
    margin-top: 1100px;
    padding: 40px 100px;
    min-width: 100%;
    min-height: 80%;
  }
 .servinfo{
    display:inline-block;
    position:relative;
    margin-top:100px;
    padding: 2px 5px;
  }
.servinfo h2{
    display:inline-block;
    position:relative;
    margin-top:100px;
    padding: 2px 5px;
    text-decoration: none;
    font-size:25px;
    cursor: pointer;
    color:black;
  }
h2:hover{
    color: orangered;
}
.servinfo p{
    display:inline-block;
    position:relative;
    margin-top:10px;
    padding: 2px 5px;
    font-size:20px;
    line-height: 28px;
    color:black;
}
.servinfo1{
    display:inline-block;
    position:absolute;
    margin-top:200px;
    margin-left: 120px;
    margin-right: 100px
    padding: 2px 5px;
  }
.servinfo1 h2{
    display:inline-block;
    position:relative;
    margin-top:5px;
    padding: 2px 5px;
    text-decoration: none;
    font-size:25px;
    cursor: pointer;
    color:black;
}
h2:hover{
    color: orangered;
}
.servinfo1 p{
    display:inline-block;
    position:relative;
    margin-top:5px;
    padding: 2px 3px;
    font-size:20px;
    line-height: 28px;
    color:black;
}
.servinfo2{
    display:inline-block;
    position:absolute;
    margin-top:200px;
    margin-left: 450px;
    margin-right: 100px
    padding: 2px 5px;
  }
.servinfo2 h2{
    display:inline-block;
    position:relative;
    margin-top:5px;
    padding: 2px 5px;
    text-decoration: none;
    font-size:25px;
    cursor: pointer;
    color:black;
}
h2:hover{
    color: orangered;
}
.servinfo2 p{
    display:inline-block;
    position:relative;
    margin-top:5px;
    padding: 2px 3px;
    font-size:20px;
    line-height: 28px;
    color:black;
}
.servinfo3{
    display:inline-block;
    position:absolute;
    margin-top:200px;
    margin-left:750px;
    padding: 2px 5px;
  }
.servinfo3 h2{
    display:inline-block;
    position:relative;
    margin-top:4px;
    padding: 2px 5px;
    text-decoration: none;
    font-size:25px;
    cursor: pointer;
    color:black;
}
h2:hover{
    color: orangered;
}
.servinfo3 p{
    display:inline-block;
    position:relative;
    margin-top:2px;
    padding: 2px 3px;
    font-size:20px;
    line-height: 28px;
    color:black;
}
.status{
    display: inline-block;
    position: absolute;
    margin-top: 1500px;
    padding: 40px 100px;
    min-width: 100%;
    min-height: 100%;
  }
.image2 img{
    display:inline-block;
    position:relative;
    margin-top:-300px;
    margin-left:700px;
    border-radius: 25px;
    width:40%; 
    padding: 2px 5px;
  }
.image3 img{
    display:inline-block;
    position:relative;
    margin-top:0px;
    margin-left:700px;
    border-radius: 25px;
    width:40%; 
    padding: 2px 5px;
    
  }
.moreinfo{
    display:inline-block;
    position:relative;
    margin-top:1600px;
    margin-left: 100px;
    padding: 2px 5px;
  }
.moreinfo h3{
    display:inline-block;
    position:relative;
    font-size: 20px;
}
.moreinfo h1{
    display:inline-block;
    position:relative;
    font-size: 30px;
}
.moreinfo p{
    display:inline-block;
    position:relative;
    font-size: 18px;
    margin-left: 2px;
    line-height: 28px;
    text-align: justify-all;
}
.stat1{
    display:inline-block;
    position:relative;
    margin-top: -200px;
    margin-right: 1000px;
    margin-left: -2px;
    padding: 5px 5px;
}
.stat1 h1{
    display:inline-block;
    position:relative;
    font-size: 55px;
    
}
.stat2{
    display:inline-block;
    position:relative;
    margin-right:1000px;
    margin-left:300px;
    margin-top: -250px;
}
.stat1 h2{
    display:inline-block;
    position:relative;
    padding: 5px 5px;    
    line-height: 28px;
    font-size: 20px;
}
.background1{
    display:inline-block;
    position: relative;
    background-image: url("Images/banner.png");
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
    margin-top: 20px;
    margin-left: 0px;
    padding: 15px 25px;
    width:100%;
 }
.image4 img{
    display:inline-flex;
    position:absolute;
    min-width: 100%;
    min-height: 55%;
    padding: 2px 5px;
    background-position: center;
  }
.backinfo{
    display:inline-flex;
    position:relative;
    margin-left:90px;
    margin-top: 50px;
    padding: 2px 5px;
      }
.backinfo h3{
    display:inline-block;
    position:relative;
    margin-left:-20px;
    font-size: 20px;
    color: white;
}
.backinfo h1{
    display:inline-block;
    position:relative;
    margin-left:-100px;
    margin-top: 50px;
    color: white;
    font-size: 50px;
}
.backinfo p{
    display:inline-block;
    position:absolute;
    margin-left: -20px;
    margin-top: 200px;
    color: white;
    font-size: 20px;
    line-height: 28px;
}
.text-box3{
    width:100%;
    position: :absolute; 
    margin-left: -500px;
    margin-top: 100px;
    text-align: center;
    
}
   .btn3{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border:3px solid white;
    border-radius:10px; 
    padding:12px 34px;
    font-size:20px;
    position:relative;
    cursor: pointer;
    background-color: transparent;
}
.btn3:hover{
    border:3px solid white;
    background: #fff;
    text-decoration: none;
    color: orangered;
    transition: 1s;
}
.text-box4{
    width:100%;
    position: :absolute; 
    margin-left: -200px;
    margin-top: -180px;
    top:50%;
    left:50%;
    text-align: center;
   
}
.btn4{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border:3px solid orangered;
    border-radius:10px; 
    padding:12px 34px;
    font-size:20px;
    position:relative;
    cursor: pointer;
    background-color: orangered;
}
.btn4:hover{
    border:3px solid orangered;
    background: #fff;
    text-decoration: none;
    color: orangered;
    transition: 1s;
}
.blog{
    display: inline-block;
    position:relative;
    padding: 12px 10px;
    margin-top:100px;
    margin-left: 100px;
    min-width: 100%;
    min-height: 80%;
 }
.bloginfo {
    display: inline;
    position:relative;
 }

.bloginfo h3{
    display: inline-block;
    position: absolute;
    font-size: 20px;
}
.bloginfo h1{
    display: inline-block;
    position: relative;
    font-size: 35px;
    width: 100%;
}
.img-container
{
 float: left;
 padding: 15px;
 margin-left: 5px;

}
.text-container
{
 float: left;
 padding: 15px;
 margin-left: 5px;
 line-height: 35px;
 font-size: 20px;    
}
.text-container h3:hover{
    color: orangered;
}
.news{
    
    display:inline-block;
    position: absolute;
    background-image: url("Images/backimage1.png");
    width: 100%;
    height: 80%;
       
 }
.image5{
    display:inline-block;
    position: relative;
    margin-top: 100px;
    width:100%;
  }
.image5 img{
    display:inline-block;
    position:absolute;
    background-size: cover;
 
}
.newsinfo{
    display:inline-block;
    position: relative;
    margin-top: 100px;
    margin-left: 600px;
    padding: 2px 5px;
}
.newsinfo h3{
    display:inline-block;
    position:absolute;
    font-size:20px;
    color:white;
    text-align: center;
}
.newsinfo h1{
    display:inline-block;
    position:relative;
    margin-left: -200px;
    font-size:45px;
    color:white;
    text-align: center;
}
.forminfo{
    display:inline;
    position: absolute;
    margin-top:300px;
    margin-left: -500px;
    box-sizing: border-box;
}
.forminfo input{
    display:inline-block;
    position:relative;
    border: 1px solid white;
    width:200px;
    height:40px;
    color: gray;
    border-radius:9px;
}
.textinfo{
    display:inline-block;
    position: absolute;
    margin-top:350px;
    margin-left:-500px;
    color:white;
}

.testi{
    display:inline-block;
    position: absolute;
    margin-top: 600px;
    margin-left: 100px;
    padding: 2px 5px;
  }

.testiinfo{
    display:inline-block;
    position: relative;
    padding: 2px 5px;
} 
.testiinfo h3{
    display:inline-block;
    position: relative;
    font-size: 20px;
    line-height: 28px;
}
.testiinfo h1{
    display:inline-block;
    position: relative;
    font-size: 45px;
    line-height: 28px;
}
.testiinfo p{
    display:inline-block;
    position: relative;
    font-size: 20px;
    line-height: 28px;
}
.quotes{
    display:inline-block;
    position: static;
    margin-top:  -600px;
    margin-left: 700px;
    padding: 2px 5px;
 }
.quotes i{
    display:inline-flex;
    position:absolute;
    font-size:20px;
}
.last{
    display:inline-block;
    position: relative;
    background-image: url("Images/black.png");
    margin-top: 900px;
    margin-left: 0px;
    padding: 2px 5px;
    width:100%;
    height: 80%;
 }

.text1{
    display:inline-block;
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    padding: 2px 5px;
    color:white;
}
.text1-container h2{
    display:inline-block;
    position: absolute;
    margin-left: 0px;
    font-size: 25px;
 }

.text2-container h2{
    display:inline-block;
    position: absolute;
    margin-left: 450px;
    font-size: 25px;
    
}
.text3-container h2{
    display:flex;
    margin-top: -20px;
    position: absolute;
    margin-left: 650px;
   font-size: 25px;
  }
.text4-container h2{
    display:flex;
    margin-top: -20px;
    position: relative;
    margin-left: 900px;
    font-size: 25px;
    
}
h2:hover{
    color: white;
}
.last p{
    display:inline-block;
    position: relative;
    margin-top: 50px;
    margin-left:100px;
    font-size: 20px;
    color: white;    
}
